html
{
	height: 100%;
}

body
{
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #606060;
}

h1, h2
{
	text-align: center;
	color: #ececec;
}

.top
{
	display: block;
	margin-left: 27.5%;
	margin-right: 27.5%;
	background-color: #606060;
	height: 15%;
}

.img1
{
	height: 200px;
	width: 161px;
	z-index: 1;
	float: left;
	margin-left: 10px;
	position: absolute;
}

a:link, a:visited 
{
	display: block;
    font-weight: bold;
    color: #ececec;
    background-color: #606060;
    width: 25%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: -1;
}

a:active, a:hover 
{
	background-color: #ececec;
	color: #606060;
}

a
{
	margin: auto;
}

ul
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.middle
{
	display: block;
    margin-left: 27.5%;
    margin-right: 27.5%;
    background-color: #606060;
    height: 100%;
}

.right
{
	display: block;
	text-align: right;
	margin-right: 100px;
	z-index: -1;
	color: #ececec;
}

.hidden
{
	display: block;
	text-align: left;
	z-index: -1;
	margin-left: 175px;
	color: #606060;
}
